/* Galaxy Background */
.galaxy-background {
    background: url('space.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container label,
.login-container input {
    display: block;
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.countdown-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.countdown-container h1 {
    margin-bottom: 20px;
}

.countdown-container h2 {
    font-size: 2rem;
    margin-top: 10px;
}
